*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .imglogo{
    width: 50px;
    height: 50px;
  }
  
  h1 {
    margin-left: 10px;
    color: white;
  }
  
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: hsl(0, 0%, 100%);
    margin: 3px 0;
  }
  
  .menu {
    display: none;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #ffffff;
  }
  
.container-one{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(151, 151, 151);
    background-color: aliceblue;
    text-align: center;
    height: 250px;
    margin: 150px;
}

.container-one h1{
    font-size: xx-large;
}

.container-one p{
    font-size: x-large;
    width: 550px;
    margin: 20px;
    margin-left: 25%;
    padding: 11px;
    line-height: 35px;
}

.buttom-one {
    color: aliceblue;
    text-decoration: none;
    background-color: cornflowerblue;
    border-radius: 10px;
    font-size: x-large;
    height: 100px;
    margin: 10px;
    padding: 12px;
}
.buttom-one a:hover {
    color: darkslateblue;
    cursor: pointer;
  }

.buttom-two {
    color: aliceblue;
    text-decoration: none;
    background-color: darkgray;
    border-radius: 10px;
    font-size: x-large;
    height: 100px;
    margin: 10px;
    padding: 12px;
}

.container-boxes{
    background-color: rgb(228, 235, 241);
    margin-top: 300px;
    color: rgb(151, 151, 151);
    height: 1800px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.box{
    width: 350px;
    text-align: center;
    height: 500px;
    font-size: x-large;
    margin-top: 30px;
    background-color: #0f0e0e;
    border-radius: 8px;
}

.box img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.buttoms{
    text-align: start;
    margin-left: 15px;
    margin-top: 30px;
    display: flex;
}

.view{
    text-decoration: none;
    color: rgb(151, 151, 151);
    border: 1px solid rgb(151, 151, 151);
    padding: 1px;
}

.edit {
    text-decoration: none;
    color: rgb(151, 151, 151);
    border: 1px solid rgb(151, 151, 151);
    padding: 1px;
}

.mins {
    text-align: end;
    margin-top: -50px;
    padding: 20px;
}

footer {
    height: 100px;
    color: black;
    font-size: x-large;
    padding: 50px;
    display: flex;
}


    


